
.content-slider {
  width: 100%;
  height: 60px;
}

.slider {
  height: 100%;
  width: 50px;
  margin: 40px auto 0;
  overflow: visible;
  position: absolute;
}

.mask {
  overflow: hidden;
  height: 50px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: absolute;
}

.slider li {
  width: 680px;
  height: 50px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 16px;
  font-style: italic;
}

.slider .source {
  font-size: 12px;
  text-align: left;
}

.slider li.anim1 {
  animation: cycle 13s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 13s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 13s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 13s linear infinite;
}3

.slider li.anim5 {
  animation: cycle5 13s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 0px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: 0px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: 0px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: 0px;
    opacity: 0;
  }
  16% {
    top: 0px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 0px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: 0px;
    opacity: 0;
  }
  36% {
    top: 0px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 0px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: 0px;
    opacity: 0;
  }
  56% {
    top: 0px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 00px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: 00px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: 00px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: 0px;
    opacity: 0;
  }
  76% {
    top: 0px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 0px;
    opacity: 0;
    z-index: 0;
  }
}

#playlist, audio{
  background:#666;
  width:400px;
  padding:20px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration:none;
}
.active a {
  color:#5DB0E6;
  text-decoration:none;
}
li a{
  color:#eeeedd;
  background:#333;
  padding:5px;
  display:block;
}
li a:hover{
  text-decoration:none;
}



body{
  background: linear-gradient(to right, #6c5ce7 , #e84393);
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  width: 50%;
  margin: 15px auto;
  padding: 20px;
  text-align: center;
  min-height: 50vh;
}
#playList{
  background: white;
  border-radius: 10px;
  text-align: left;
  opacity: 0.8;
  color: #e84393;
  
}
 li{
  padding: 10px;
}
li:hover, svg:hover {
  cursor: pointer;
  color: #e84393;
}
li.active{
  color: #6c5ce7;
}
#controls{
  border: 1px #eee solid;
  border-radius: 10px;
  padding: 10px;
  background: white;
  opacity: 0.8
}
 
svg{
  color: #6c5ce7
}
 
progress{
  width: 80%;
  margin: 10px;
  opacity: 0.5;
 
}
 
.timer{
  width:50%;
  position: relative;
  top:10px;
  left:0px;
  text-align:left;
  float:left;
  color: #6c5ce7;
}
.volumen{
  width:50%;
  position: relative;
  top:10px;
  right:0px;
  text-align:right;
  float:left;
  color: #6c5ce7;
  margin-bottom:20px;
}
#currentPlay{
  color: #6c5ce7
}
h3{
  color: #e84393;
  margin:0px;
}